[Unit]
After=network-online.target logmein-hamachi.service
Wants=network-online.target logmein-hamachi.service
[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/home/nickdb2/Project/testing/apachehsb.sh
Environment="HOME=/home/nickdb2" "OPPIP=25.88.146.125"
[Install]
WantedBy=multi-user.target  
