[Unit]
After=network-online.target logmein-hamachi.service
Wants==network-online.target logmein-hamachi.service
[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/usr/local/bin/Project/testing/change.sh
[Install]
WantedBy=multi-user.target
