[Unit]
After=statuschange.service
Wants=statuschange.service
[Service]
ExecStart=/usr/local/bin/Project/Front/dbListener.php
Environment='HOME=/home/nickdb'
ExecStartPre=/bin/sleep 30
[Install]
WantedBy=multi-user.target          
