[Unit]
After=network-online.target logmein-hamachi.service
Wants==network-online.target logmein-hamachi.service
[Service]
ExecStart=/usr/local/bin/Project/Logger/logListener.php
Environment='HOME=/home/nickdb'
ExecStartPre=/bin/sleep 30
[Install]
WantedBy=multi-user.target          
